.sectionCard {
  margin-block: 35px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input {
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    padding: 5px;
    background: url('/public/search.png') no-repeat right;
  }
}